<!DOCTYPE html>
<html>
  <head>
    <title>Switter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <span class="">Switter</span>
      <ul class="">
        <% if user_signed_in? %>
          <li class="header">
            Favorite
          </li>
          <li class="header">
            About
          </li>
          <li class="header">
            Logout
          </li>
        <% else %>
          <li class="header">
            About
          </li>
          <li class="header">
            Sign up
          </li>
          <li class="header">
            Login
          </li>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
